.row
  .col-md-12
    - if notice  
      .notice.alert.alert-success
        = notice
        .pull-right
          %button.dismiss-notice{ type: "button" }
            %span &times;
            %span.sr-only Close
    - if alert
      .alert.alert-danger
        = alert
        .pull-right
          %button.dismiss-notice{ type: "button" }
            %span &times;
            %span.sr-only Close
