- if @schedule.nil?
  .center-container
    .center-item
      %button.btn.btn-primary{ type: "button" }
        Create Schedule for 
        = current_day
.container
  .row
    .col-md-6.col-md-offset-3
      
