@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
$main-bg-color: #2ABB9B;
body {
  background: $main-bg-color;
  color: $gray;
  font-family: "Lato", sans-serif;
  margin:50px 0 50px 0;
}

.dismiss-notice {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.schedule-container {
  border-radius: 4px;
  background: white;
  border-bottom: 2px solid darken($main-bg-color, 15%);
  margin: 0 auto;
  padding-top: 3px;
  width: 100%;
  h1 {
    border-bottom: 2px solid $main-bg-color;
    color: darken($main-bg-color, 15%);
    font-family: "Kalam", cursive;
    font-weight: 400;
    padding: 0 20px 15px 20px;
  }
  ul {
    padding: 10px 0px 10px 20px;
    list-style-type: none;
    li + li {
      border-top: 2px solid $main-bg-color;
      padding: 20px 0px 20px 0px;
    }
    li {
      padding: 0px 0px 20px 0px;
      .frame {
        display: table;
        width: 100%;
        .hour, .task, .full-time {
          display: table-cell;
          font-size: $font-size-large;
        }
        .hour {
          border: 2px solid $main-bg-color;
          border-radius: 50%;
          color: $gray;
          font-weight: bold;
          height: 40px;
          padding:6px;
          text-align: center;
          width: 40px;
        }
        .task {
          padding:0 10px 0 10px;
          text-align: left;
        }
        .full-time {
          color: $gray-light;
          min-width: 75px;
          padding: 0 20px 0 10px;
          text-align: right;
        }
      }
    }
    li:last-child {
      padding: 20px 0px 0px 0px;
    }
  }
}

.schedule-accordian-title {
  background: $gray-lighter;
  font-size: $font-size-large;
}

// bootstrap customizations

.navbar-todoy {
  border-top:0;
  border-radius: 0;
  background: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .navbar-collapse {
  }
}

.panel {
  > a {
    text-decoration: none;
  }
}

.jumbotron-home {
  border-radius: 0px;
}
