@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

body {
  color: #777777;
}

.jumbotron-home {
  border-radius: 0px;
}
.dismiss-notice {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.day-selector {
  display: table;
  font-size:18px;
  .day-selector-addon {
    background-color: #F2F1EF;
    border-bottom: 1px solid darken(#F2F1EF, 5%);
    color: #555555;
    display: table-cell;
    min-width:140px;
    padding:10px 16px;
  }
  .day-selector-selection {
    background: #3498DB;
    border-bottom:1px solid darken(#3498DB, 5%);
    border-left:0;
    color: white;
    display: table-cell;
    padding:10px 16px;
    width:100%;
  }
}
.dropdown-menu-days {
  border-color: darken(#3498DB, 5%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow:none;
  margin: 0;
  width:100%;
}

// bootstrap customizations

.navbar-todoy {
  border-top:0;
  border-radius: 0;
  background: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .navbar-collapse {
  }
}
