@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
$main-bg-color: #2ABB9B;
body {
  background: $main-bg-color;
  color: $gray;
  font-family: "Lato", sans-serif;
  margin:0px 0 50px 0;
}

.dismiss-notice {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.schedule-container {
  border-radius: 4px;
  background: white;
  border-bottom: 2px solid darken($main-bg-color, 15%);
  margin: 20px auto;
  padding-top: 3px;
  width: 100%;
  h1 {
    border-bottom: 2px solid $main-bg-color;
    color: darken($main-bg-color, 15%);
    font-family: "Kalam", cursive;
    font-weight: 400;
    padding: 0 20px 15px 20px;
  }
  ul {
    padding: 10px 0px 10px 0px;
    list-style-type: none;
    li + li {
      border-top: 2px solid $main-bg-color;
      padding: 20px 0px 20px 20px;
    }
    li {
      padding: 0px 0px 20px 20px;
      .frame {
        display: table;
        width: 100%;
        .hour, .task, .full-time {
          display: table-cell;
          font-size: $font-size-large;
        }
        .hour {
          border: 2px solid $main-bg-color;
          border-radius: 50%;
          color: $gray;
          font-weight: bold;
          height: 40px;
          padding:6px;
          text-align: center;
          width: 40px;
        }
        .task {
          padding:0 10px 0 10px;
          text-align: left;
        }
        .full-time {
          color: $gray-light;
          min-width: 75px;
          padding: 0 20px 0 10px;
          text-align: right;
        }
      }
    }
    li:last-child {
      padding: 20px 0px 0px 20px;
    }
  }
}

.schedule-accordian-title {
  background: $gray-lighter;
  font-size: $font-size-large;
}

.center-container {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
  top:0;
  z-index: -1000;
  .center-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

// bootstrap customizations

.navbar-todoy {
  border-top:0;
  border-radius: 0;
  background: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  .navbar-collapse {
  }
}

.panel {
  > a {
    text-decoration: none;
  }
}

.jumbotron-home {
  border-radius: 0px;
}

.btn-xl {
  padding: 20px 32px;
  font-size: 24px;
  line-height: 1.66;
}
.btn-transparent {
  border-color: white;
  background: rgba(255,255,255,0);
  border-width: 2px;
  color: white;
  &:hover {
    background: darken($main-bg-color, 5%);
  }
}
.btn-square {
  border-radius:0px;
}


@media (max-width: $screen-xs-max) { }
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
@media (min-width: $screen-lg-min) { }
