@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

body {
  margin-top:60px;
}
.dismiss-notice {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

// bootstrap customizations

